.card {
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background: #ffffff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 20px 48px 16px;

  @media (min-width: 1200px) {
    padding: 34px 26px 45px 30px;
  }
}

.figure {
  margin-bottom: 28px;
  width: 100%;
  display: grid;
  grid-template-areas:
    'title title'
    'photo  wrap';
  grid-template-columns: 87px 1fr;
  row-gap: 10px;
  column-gap: 17px;

  @media (min-width: 1200px) {
    margin-bottom: 22px;
    grid-template-areas:
      'photo title'
      'photo  wrap';
    grid-template-columns: 87px 1fr;
    column-gap: 36px;
  }

  .title {
    grid-area: title;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #000000;
  }

  .photo {
    grid-area: photo;
    width: 87px;
    height: 87px;
    border-radius: 50%;
  }

  .wrap {
    grid-area: wrap;

    .rating {
      margin-bottom: 10px;

      @media (min-width: 1200px) {
        margin-bottom: 15px;
      }

      svg {
        height: 18px;
        width: 18px;
      }
    }

    .infoWrap {
      display: flex;
      flex-direction: column;

      @media (min-width: 1200px) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .caption {
        margin-bottom: 4px;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000;

        @media (min-width: 1200px) {
          margin-bottom: 0;
        }
      }

      .date {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #676767;
      }
    }
  }
}

.inner {
  @media (min-width: 1200px) {
    width: 582px;
    align-self: flex-end;
  }
}

.dignity {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #70a500;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10Z' fill='%2370A500'/%3E%3Cpath d='M13.0012 8.99878C13.5535 8.99878 14.0012 8.55108 14.0012 7.99878C14.0012 7.44649 13.5535 6.99878 13.0012 6.99878C12.4489 6.99878 12.0012 7.44649 12.0012 7.99878C12.0012 8.55108 12.4489 8.99878 13.0012 8.99878Z' fill='%2370A500'/%3E%3Cpath d='M7.9988 7.99878C7.9988 8.55108 7.55108 8.99878 6.9988 8.99878C6.44652 8.99878 5.9988 8.55108 5.9988 7.99878C5.9988 7.44649 6.44652 6.99878 6.9988 6.99878C7.55108 6.99878 7.9988 7.44649 7.9988 7.99878Z' fill='%2370A500'/%3E%3Cpath d='M14 11.0012H12C12 12.1058 11.1046 13.0012 10 13.0012C8.8954 13.0012 8 12.1058 8 11.0012H6C6 13.2103 7.79086 15.0012 10 15.0012C12.2091 15.0012 14 13.2103 14 11.0012Z' fill='%2370A500'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
  }
}

.flaws {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #e34615;

  &::before {
    content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.0012 7.99878C14.0012 8.55108 13.5535 8.99878 13.0012 8.99878C12.4489 8.99878 12.0012 8.55108 12.0012 7.99878C12.0012 7.4465 12.4489 6.99878 13.0012 6.99878C13.5535 6.99878 14.0012 7.4465 14.0012 7.99878Z' fill='%23E34615'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20 10C20 15.5228 15.5228 20 10 20C4.47715 20 0 15.5228 0 10C0 4.47715 4.47715 0 10 0C15.5228 0 20 4.47715 20 10ZM18 10C18 14.4183 14.4183 18 10 18C5.58172 18 2 14.4183 2 10C2 5.58172 5.58172 2 10 2C14.4183 2 18 5.58172 18 10Z' fill='%23E34615'/%3E%3Cpath d='M12 15.0012C12 13.8966 11.1046 13.0012 10 13.0012C8.8954 13.0012 8 13.8966 8 15.0012H6C6 12.7921 7.79086 11.0012 10 11.0012C12.2091 11.0012 14 12.7921 14 15.0012H12Z' fill='%23E34615'/%3E%3Cpath d='M6.9988 8.99878C7.55108 8.99878 7.9988 8.55108 7.9988 7.99878C7.9988 7.4465 7.55108 6.99878 6.9988 6.99878C6.44652 6.99878 5.9988 7.4465 5.9988 7.99878C5.9988 8.55108 6.44652 8.99878 6.9988 8.99878Z' fill='%23E34615'/%3E%3C/svg%3E%0A");
    position: absolute;
    left: 0;
  }
}

.reviewText {
  margin-top: 22px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;

  &.hiddenText {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 7;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;

    @media (min-width: 1200px) {
      -ms-line-clamp: 3;
      -webkit-line-clamp: 3;
      line-clamp: 3;
    }
  }
}

.cardSingle {
  box-shadow: unset;
  margin-bottom: 0;
  padding-bottom: 34px;
}
