* {
  box-sizing: border-box;
}

body, button, textarea {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

a {
  text-decoration: none;
}
