.inner {
  margin: 57px auto 100px;
  padding: 0 10px;
  display: grid;
  width: 100%;
  max-width: 380px;
  row-gap: 20px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'statistics'
    'company'
    'reviews';

  @media (min-width: 1200px) {
    margin: 50px auto 100px;
    max-width: 1200px;
    column-gap: 20px;
    grid-template-columns: 760px 1fr;
    grid-template-areas:
      'statistics company'
      'reviews company'
      'reviews empty';
  }
}

.reviewsWrap {
  grid-area: reviews;
  @media (min-width: 1200px) {
    max-width: 1200px;
  }
}
