.header {
  background: #f15a22;
  width: 100%;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
  width: 100%;
  padding: 28px 10px 32px;

  @media (min-width: 1200px) {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    padding: 26px 0;
  }
}

.title {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  color: #fff;

  @media (min-width: 360px) {
    font-size: 24px;
  }

  @media (min-width: 1200px) {
    margin: 0;
  }

  span {
    background: #ffffff;
    border-radius: 10px;
    padding: 6px 11px;
    color: #f15a22;
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  padding-left: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  cursor: pointer;

  &:hover,
  :focus,
  :active {
    text-decoration: underline;
  }

  @media (min-width: 1200px) {
    margin-right: 130px;
    padding-left: 27px;
    font-size: 16px;
    line-height: 20px;
  }

  &::before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.2082 15.0349C24.3393 15.0349 23.6347 15.7396 23.6347 16.6085V23.36C23.6347 25.2868 22.0668 26.8528 20.142 26.8528H6.6397C4.71296 26.8528 3.14701 25.2849 3.14701 23.36V9.85895C3.14701 7.93212 4.71485 6.3661 6.6397 6.3661H13.3908C14.2598 6.3661 14.9643 5.66148 14.9643 4.79252C14.9643 3.92356 14.2598 3.21894 13.3908 3.21894H6.6397C2.97889 3.21894 0 6.19797 0 9.85895V23.36C0 27.021 2.97889 30 6.6397 30H20.1401C23.8009 30 26.7798 27.021 26.7798 23.36V16.6085C26.7798 15.7396 26.0752 15.0349 25.2063 15.0349H25.2082Z' fill='white'/%3E%3Cpath d='M29.5415 3.98778L26.0148 0.460928C25.7201 0.166236 25.3196 0 24.9022 0C24.4847 0 24.0842 0.166236 23.7896 0.460928L20.1401 4.11057C20.0985 4.15213 20.0589 4.19747 20.023 4.24281L13.1793 11.0717C12.8884 11.3626 12.7221 11.7537 12.7165 12.1655L12.6693 15.7528C12.6636 16.1778 12.8298 16.5859 13.1302 16.8862C13.4305 17.1866 13.8253 17.3471 14.2428 17.3471H14.2635L17.8356 17.2999C18.2455 17.2943 18.6384 17.1299 18.9274 16.839L25.8977 9.8684C25.9354 9.83062 25.9694 9.79283 26.0015 9.75316L29.5396 6.21497C30.1535 5.60103 30.1535 4.60361 29.5396 3.98967L29.5415 3.98778ZM24.9022 3.79888L26.2037 5.10043L24.7794 6.52478L23.4779 5.22322L24.9022 3.79888ZM17.1537 14.1622L15.837 14.1792L15.854 12.8474L21.2584 7.45419L22.5599 8.75575L17.1537 14.1622Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 30px;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;

    @media (min-width: 1200px) {
      background-size: 20px;
      width: 20px;
      height: 20px;
    }
  }
}
