.wrap {
  display: flex;
  max-width: 380px;
  margin: 28px auto 0;
  width: 100%;
  padding: 0 10px;

  @media (min-width: 1200px) {
    max-width: 1200px;
    padding: 0;
    margin-top: 17px;
  }

  .link {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #543fff;
    transition: 0.3s;

    &:hover,
    :focus,
    :active {
      text-decoration: underline;
    }

    &:after {
      content: '>';
      position: absolute;
      margin: 0 4px;
    }

    &:last-child {
      padding: 0;
      &:after {
        content: '';
      }
    }
  }
}
